body {
    background-color: rgb(203, 255, 251);
    
    
    }
    div{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 75, 129);
        font-size: 64px;
         font-style: oblique;
    }
    